@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap');

  *{
    font-size: medium;
  }

  .navbar-custom {
    background-color: #2874f0; /* Flipkart blue color */
    position: fixed;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    padding-left: 100px;
  }

  .navbar-brand img {
    margin-left: 70px;
  }

  .navbar-brand {
    font-size: 12px;
    color: #fdd835;
    display: block;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
  }

  .nav-link i a {
    margin-right: 10px; /* Add margin between icon and text */
    list-style-type: none;
  }

  .nav-item{
    margin-right: 42px;
  }

  .btn-outline-light {
    background-color: white;
    color: #fff;
  }
  
  .btn-light, .btn-light:hover {
    height: 30px;
    width: 150px;
    background-color: #fff;
    color: #fff;
  }
  
  .custom-text-color {
    color: #ffffff;
    font-size: medium;
  }

.demo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; /* Adjusted for better spacing */
}

.custom-p {
    padding-left: 20px; /* Adjust as needed */
    padding-right: 50px;
}

/* Remove bullets from list items */
.no-bullets {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Webpage Content */
.container-fluid{
    background-color: #f1f3f6;
    padding: 0;
    margin: 0;
}

/* Secondary Container */

.imgfash{
  max-width: 75px;
  height: 65px;
  margin: 0 auto;
}
.imgfash1 {
  max-width: 75px;
  height: 57px;
  display: block;
  margin: 2 auto;
}
.imgfash2 {
  max-width: 75px;
  height: 56px;
  display: block;
  font-weight: 400;
  margin: auto 20px;
}
.imgfash3 {
  max-width: 75px;
  height: 56px;
  display: block;
  font-size: 2px;
  font-weight: 250;
  margin: auto 45px;
}

.imgfash4, .imgfash5 {
  max-width: 75px;
  height: 64px;
  display: block;
  margin: 0 auto;
}
.align-center {
  text-align: center;
}
.nav-link-custom {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0125em;
  display: block;
  margin-top: 5px; /* Adjust this value to move the text down */
  font-size: 16px; /* Adjust font size as needed */
}
.nav-item.dropdown {
  list-style-type: none;
}
.nav-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgfash6, .imgfash7 {
  max-width: 75px;
  height: 56px;
  display: block;
  font-size: 2px;
  font-weight: 250;
  margin: auto 50px;
}

.sec-nav-link {
  text-decoration: none;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.0125em;
  display: block;
  margin-top: 5px; /* Adjust this value to move the text down */
}
.nav-item.dropdown {
  list-style-type: none;
}

.border{
    border: black;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Product Content CSS */

.pcar{
  max-width: 100%;
  margin-left: 0px;
}
.colb img {
  width: 100%;
  height: 294px;
  margin-bottom: 0%;
}
.cardcaro {
  margin-right: 15px;
  height: 15rem;
}
.cardcaro .card-img-top {
  width: 100px;
}
.cardcaro {
  margin-right: 15px;
}

.cardcaro .card-img-top {
  /* height: 130px; */
  width: 150px;
}

.ad-banner {
  background-color: #f8f9fa;
  text-align: center;
}
.ad-banner img {
  max-width: 100%;
  height: auto;
}

.cus-md {
  /* max-width: 60%; */
  margin-right: 100px;
}


/* FOOTER */
.footer {
  background-color: #172337;
  color: #a5a5a5;
  padding: 16px 0px;
  margin-top: 2px;
  font-size: 14px;
}
.footer a {
  color: #a5a5a5;
  text-decoration: none;
  font-size: 12px;
}
.footer a:hover {
  color: #fff;
  text-decoration: underline;
}
.footer .footer-title {
  color: #fff;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer .contact-info {
  font-size: 12px;
}

.vertical-line {
  border-left: 1px solid #4b4b4b;
  height: 75%;
  position: absolute;
  left: -5%;
  top: 0;
}

.footer-end, .footer-end-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #172337;
}

.footer-links {
  font-size: 13px;
}

.footer-link {
  color: #fff;
  text-decoration: none;
  padding: 0 1.7rem;
  display: inline-block;
}

.footer-link:hover {
  text-decoration: none;
  color: #fff;
}

.footer-payment-methods {
  width: 300px;
  text-align: right;
}

.footer-payment-methods img {
  width: auto;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  padding-left: 20px;
}

.border-t {
  border-top: 1px solid #848484;
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.pl-3{
  padding-left: 0.75rem;
  color: #fff;
}

.pl-3:hover{
  color: #fff;
}
.scale-125 {
  transform: scale(1.25);
}

